{% extends 'base.html' %}

{% block title %}{{caption}}{% endblock %}

{% block content %}
<h1>Блог</h1>
<p>Политики о НЕБОПОЛИТИКЕ.</p>

<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Шевченко</h5>
            <p class="card-text">С Андреем Девятовым. Будущее России и война смыслов. 26.09.24.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Алексей Новицкий</h5>
            <p class="card-text">Откуда возьмётся русский дух.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Леонид Григорьевич Ивашов</h5>
            <p class="card-text">Небополитика и Геополитика.</p>
        </div>
    </div>
</div>
{% endblock %}