{% extends 'base.html' %}

{% block title %}Создатели{% endblock %}

{% block content %}
<h1>Небополитика. Краткий курс.</h1>
<p>Краткий курс небополитики есть сжатое изложение инновационной
  системы
  взглядов,
  инструментария
  мысли
  и
  приемов
  оценки
  исторического процесса, объединяющих рациональное и иррациональное
  психическое.
  Как доктрина, методология и технология небополитика вооружает
  прогнозно-управленческую деятельность грядущего поколения Знати
  принципами и способами достижения троичной гармонии, исцеляющей
  борьбу противоположностей.</p>

<ul class="list-group">
    <li class="list-group-item">Кашанский А. В. ©
      Векторно-круговая
      методология
      небополитики;
      эпохи актуализации сознания «от сотворения и до конца мира сего».</li>
    <li class="list-group-item">Кеслер Я. А. © Начертательная геометрия «троичной гармонии» и
      музыкальный лад как методология небополитики.</li>
    <li class="list-group-item">Гваськов П. А. ©
      Методология
      перемен
      небополитики.
      цивилизация как феномен мировой истории.</li>
    <li class="list-group-item">Девятов А. П. © Мировая история как циклы перемен.</li>
    <li class="list-group-item">Россия на фазовом переходе циклов:
      Гавриленков С. И. © Россия. Район обороны.
      Муниров В. Ф. © «Счастье не в воле, а в доле».
      Девятов А. П. © Образ русской Победы.
      Щипин В. И. © Русская Венера.
      Васильев В. Ю. © «Путь к Престолу».</li>
      <li class="list-group-item">Девятов А. П. © О Боге, богатстве и убожестве.</li>
</ul>
{% endblock %}